@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
/* ===============================================
   Breakpoint
   =============================================== */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
/* ===============================================
   Breakpoint
   =============================================== */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
.login__container {
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 64em) {
    .login__container {
      flex-direction: row;
      height: 100vh; } }

@media (min-width: 64em) {
  .login__left-square {
    width: 40%;
    height: 100%;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: flex;
    align-items: center;
    justify-content: space-around; } }

@media (min-width: 64em) {
  .login__right-square {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; } }

.login__logo {
  width: 240px;
  height: 240px; }

.login__logo-wrapper {
  display: flex;
  justify-content: center; }
  @media (min-width: 64em) {
    .login__logo-wrapper {
      margin-bottom: 300px; } }

.login__logo-img {
  max-width: 100%;
  max-height: 100%; }

.login__input-container {
  display: flex;
  justify-content: center; }

.login__input {
  margin-bottom: 40px; }

.login__username, .login__password {
  padding-left: 20px;
  background-color: #F5F5F5; }

.login__username, .login__password, .login__submit {
  width: 270px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  color: #707070;
  font-size: 18px; }

.login__submit {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  width: 100%; }

.login__submit-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #fff; }

.login__error {
  font-family: 'PT Sans', sans-serif;
  color: #00A0A0; }

.login__error-wrapper {
  width: 250px; }

/* ===============================================
   Breakpoint
   =============================================== */
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
body {
  padding: 0;
  margin: 0; }

.home__container {
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 64em) {
    .home__container {
      flex-direction: row;
      height: 100vh; } }

@media (min-width: 64em) {
  .home__left-square {
    width: 40%;
    height: 100%;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: flex;
    flex-direction: column; } }

.home__right-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px; }
  @media (min-width: 64em) {
    .home__right-square {
      padding-left: 50px;
      padding-top: 17px; } }

@media (min-width: 64em) {
  .home__overview {
    width: 600px; } }

.home__overview-wrapper {
  display: flex; }

.home__overview-title-wrapper {
  width: 200px; }

.home__overview-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 200;
  color: #696969; }

.home__request-wrapper {
  margin-left: 40px; }

.home__date-wrapper {
  margin-top: 5px; }

.home__day, .home__month, .home__time, .home__request, .home__link-wrapper {
  font-family: 'PT Sans', sans-serif;
  color: #939090; }

.home__month, .home__request {
  font-weight: 400;
  color: #AFAFAF; }

.home__time, .home__request {
  font-size: 18px; }

.home__day, .home__time {
  font-weight: 800;
  margin-bottom: -15px; }

.home__day, .home__month {
  font-size: 16px; }

.home__logo {
  width: 240px;
  height: 240px; }
  @media (min-width: 64em) {
    .home__logo {
      width: 150px;
      height: 150px; } }

.home__logo-wrapper {
  display: flex;
  justify-content: center; }
  @media (min-width: 64em) {
    .home__logo-wrapper {
      justify-content: flex-start; } }

.home__title {
  font-family: 'PT sans', sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: #36B4B4; }
  @media (min-width: 64em) {
    .home__title {
      color: #fff;
      font-size: 40px; } }

.home__title-wrapper {
  display: flex;
  justify-content: center; }
  @media (min-width: 64em) {
    .home__title-wrapper {
      justify-content: flex-start;
      margin-left: 36px; } }

.home__logo-img {
  max-width: 100%;
  max-height: 100%; }

.home__link {
  color: #580086;
  font-size: 16px; }

.home__link-wrapper {
  margin-bottom: 50px; }

.home__icon {
  max-width: 100%;
  max-height: 100%; }

.home__icon-wrapper-one {
  width: 35px;
  height: 35px;
  margin-top: 5px; }

.home__icon-wrapper-two {
  width: 45px;
  height: 45px;
  margin-left: 20px; }

.home__icons-wrapper {
  display: flex; }

.home__line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 15px; }

@media (min-width: 64em) {
  .home__bottom {
    position: absolute;
    bottom: 20px;
    width: 580px;
    height: 60px; } }

.dp-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75); }

.dp {
  position: relative;
  background: #FFF;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
  line-height: 1.4;
  border-radius: 4px;
  max-height: 400px;
  z-index: 1000;
  padding-top: 6px;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent; }

.dp:before {
  content: ' ';
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #3B99FC;
  background: linear-gradient(-90deg, #3B99FC 0%, #8AEFC8 100%); }

.dp-permanent .dp {
  padding-top: 0;
  border: 1px solid #EEE;
  box-shadow: none; }

.dp-permanent .dp:before {
  display: none; }

.dp-cal {
  min-height: 300px; }

.dp-below {
  position: absolute;
  font-size: 0.8em;
  width: 400px;
  max-width: 100vw; }

.dp-permanent {
  position: relative;
  font-size: 0.8em;
  width: 400px;
  max-width: 100vw; }

.dp-permanent .dp {
  z-index: 0; }

.dp-modal .dp {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  width: calc(100% - 4em);
  transform: translate(-50%, -50%);
  animation: slide-up 0.3s forwards; }

.dp-months {
  padding: 24px; }

.dp-years {
  box-sizing: border-box;
  max-height: 400px;
  padding: 8px 0;
  overflow: auto !important;
  /* HACK for Chrome on Android */ }

.dp-cal-month,
.dp-cal-year,
.dp-day,
.dp-month,
.dp-year {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: #3B404D;
  border-radius: 2px;
  border: 0;
  background: transparent; }

.dp-cal-header {
  position: relative;
  text-align: center;
  padding-bottom: 16px;
  background: #f5f5f5; }

.dp-next,
.dp-prev {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  top: 14px;
  color: #777;
  border-radius: 2px;
  border: 0;
  background: transparent; }

.dp-next:focus,
.dp-prev:focus,
.dp-next:hover,
.dp-prev:hover {
  outline: none;
  color: inherit; }

.dp-prev {
  left: 24px; }

.dp-next {
  right: 24px; }

.dp-prev:before,
.dp-next:before {
  content: '';
  border: 2px solid;
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: rotate(-45deg);
  transition: border-color 0.2s;
  margin: 9px 0 40px 4px; }

.dp-prev:before {
  border-right: 0;
  border-bottom: 0; }

.dp-next:before {
  border-left: 0;
  border-top: 0;
  margin-left: 0;
  margin-right: 4px; }

.dp-cal-month,
.dp-cal-year {
  display: inline-block;
  font-size: 1.4em;
  padding: 16px 8px 8px;
  outline: none; }

.dp-cal-footer {
  text-align: center;
  background: #f5f5f5; }

.dp-day-today:after {
  content: '';
  height: 0;
  width: 0;
  border: 7px solid #227BD7;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  right: 0; }

.dp-close,
.dp-clear,
.dp-today {
  box-sizing: border-box;
  display: inline-block;
  width: 33%;
  padding: 8px;
  text-decoration: none;
  color: inherit;
  border: 0;
  background: transparent; }

.dp-permanent .dp-close,
.dp-permanent .dp-clear {
  display: none; }

.dp-close:active,
.dp-clear:active,
.dp-today:active,
.dp-next:active,
.dp-prev:active,
.dp-cal-month:active,
.dp-cal-year:active {
  background: #75BCFC;
  color: white; }

@media screen and (min-device-width: 1200px) {
  .dp-close:hover,
  .dp-close:focus,
  .dp-clear:hover,
  .dp-clear:focus,
  .dp-today:hover,
  .dp-today:focus,
  .dp-next:hover,
  .dp-next:focus,
  .dp-prev:hover,
  .dp-prev:focus,
  .dp-cal-month:focus,
  .dp-cal-month:hover,
  .dp-cal-year:hover,
  .dp-cal-year:focus {
    background: #75BCFC;
    color: white; } }

.dp-col-header,
.dp-day {
  width: 14.28571429%;
  display: inline-block;
  padding: 8px;
  text-align: center; }

.dp-col-header {
  color: #AAA;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  padding: 8px 0; }

.dp-month {
  width: 33%;
  display: inline-block;
  padding: 8px; }

.dp-year {
  display: block;
  padding: 8px 40px;
  width: 100%; }

.dp-edge-day {
  color: #AAA; }

.dp-day:hover,
.dp-month:hover,
.dp-year:hover,
.dp-current:focus,
.dp-current,
.dp-day:focus,
.dp-month:focus,
.dp-year:focus {
  outline: none;
  background: #75BCFC;
  color: white; }

.dp-selected:hover,
.dp-selected:focus,
.dp-selected {
  background: #3B99FC;
  color: #FFF; }

.dp-day-disabled {
  background: transparent;
  color: #DDD; }

.dp-day-disabled:focus,
.dp-day-disabled:hover {
  background: #DDD; }

.dp-focuser {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%; }

/* Responsive overrides */
@media (max-width: 480px), (max-height: 480px) {
  .dp-modal .dp {
    font-size: 0.9em;
    width: auto;
    width: 100%; }
  .dp-day-of-week,
  .dp-day {
    padding: 8px; } }

@keyframes slide-up {
  0% {
    transform: translate(-50%, 100%); }
  100% {
    transform: translate(-50%, -50%); } }

/* ===============================================
   Breakpoint
   =============================================== */
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
.requests__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px; }
  @media (min-width: 64em) {
    .requests__container {
      align-items: flex-start; } }

.requests__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px; }
  @media (min-width: 64em) {
    .requests__top {
      flex-direction: row;
      width: 100%;
      justify-content: center; } }

@media (min-width: 64em) {
  .requests__wrapper {
    padding-left: 60px; } }

.requests__button {
  width: 150px;
  height: 35px;
  border: 0.5px solid #EDE8E8;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #A7A7A7; }
  @media (min-width: 64em) {
    .requests__button {
      width: 170px;
      height: 45px;
      font-size: 16px; } }

.requests__date-picker {
  width: 150px;
  height: 35px;
  text-decoration: none;
  border: 0.5px solid #EDE8E8;
  background-color: #FFF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #CBB4FF; }

.requests__reason {
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #A7A7A7;
  margin-bottom: -15px; }
  @media (min-width: 64em) {
    .requests__reason {
      font-size: 16px; } }

.requests__reason-wrapper {
  margin-bottom: -40px; }

.requests__date-reason-wrapper {
  margin-bottom: 60px; }

.requests__add {
  border: none;
  margin: 0;
  padding: 0;
  width: 50px;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  margin-bottom: 70px; }
  .requests__add-image {
    max-width: 100%;
    max-height: 100%; }

.requests__add:focus {
  outline: 0; }

.requests__add-wrapper {
  width: 50px;
  height: 50px;
  margin-top: -50px; }

.requests__submit {
  width: 150px;
  height: 35px;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #fff;
  background-color: #00D1D1; }
  @media (min-width: 64em) {
    .requests__submit {
      width: 170px;
      height: 45px;
      font-size: 16px; } }

.requests__button-wrapper {
  display: flex;
  flex-direction: column; }

.current {
  background-color: #00D1D1;
  color: white;
  border: 0; }

input[type=text], select {
  width: 300px;
  height: 30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0.5px solid #EDE8E8;
  border-radius: 4px;
  box-sizing: border-box; }
  @media (min-width: 64em) {
    input[type=text], select {
      width: 400px;
      height: 40px;
      font-size: 16px; } }

/* ===============================================
   Breakpoint
   =============================================== */
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
body {
  padding: 0;
  margin: 0; }

.requests-admin__container {
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  background-color: #F8F7F7; }

.requests-admin__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 100px;
  width: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center; }
  @media (min-width: 64em) {
    .requests-admin__top {
      flex-direction: row;
      width: 100%; } }

.requests-admin__button {
  width: 150px;
  height: 35px;
  border: 0.5px solid #EDE8E8;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #A7A7A7; }
  @media (min-width: 64em) {
    .requests-admin__button {
      width: 170px;
      height: 45px;
      font-size: 16px; } }

.requests-admin__button-wrapper {
  display: flex;
  flex-direction: column; }

.requests-admin__list-item {
  list-style-type: none; }

.requests-admin__long-square {
  width: 100%;
  height: 150px;
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  position: relative;
  padding: 30px; }
  @media (min-width: 64em) {
    .requests-admin__long-square {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 70px; } }

.requests-admin__content-wrapper {
  display: flex;
  flex-direction: row; }

.requests-admin__current-status {
  position: absolute;
  right: 80px;
  bottom: 10px; }
  @media (min-width: 64em) {
    .requests-admin__current-status {
      position: relative; } }

.requests-admin__name, .requests-admin__request, .requests-admin__date, .requests-admin__current-status, .requests-admin__default {
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.requests-admin__name {
  color: #C1B8D6; }

.requests-admin__default {
  color: #BCBCBC;
  margin-right: 15px; }

.requests-admin__request {
  color: #9F9D9D; }

.requests-admin__date {
  color: #9282B7; }

.requests-admin__add {
  border: none;
  margin: 0;
  padding: 0;
  width: 50px;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  margin-bottom: 70px;
  position: absolute;
  right: 20px; }
  .requests-admin__add-image {
    max-width: 100%;
    max-height: 100%; }

.requests-admin__add:focus {
  outline: 0; }

/* ===============================================
   Breakpoint
   =============================================== */
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
body {
  padding: 0;
  margin: 0; }

.status__container {
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  background-color: #F8F7F7; }

.status__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 100px;
  width: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center; }
  @media (min-width: 64em) {
    .status__top {
      flex-direction: row;
      width: 100%; } }

.status__button {
  width: 150px;
  height: 35px;
  border: 0.5px solid #EDE8E8;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #A7A7A7; }
  @media (min-width: 64em) {
    .status__button {
      width: 170px;
      height: 45px;
      font-size: 16px; } }

.status__button-wrapper {
  display: flex;
  flex-direction: column; }

.status__list-item {
  list-style-type: none; }

.status__long-square {
  width: 100%;
  height: 150px;
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  position: relative;
  padding: 30px; }
  @media (min-width: 64em) {
    .status__long-square {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 70px; } }

.status__content-wrapper {
  display: flex;
  flex-direction: row; }

.status__current-status {
  position: absolute;
  right: 80px;
  bottom: 10px; }
  @media (min-width: 64em) {
    .status__current-status {
      position: relative; } }

.status__name, .status__request, .status__date, .status__current-status, .status__default {
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.status__name {
  color: #C1B8D6; }

.status__default {
  color: #BCBCBC;
  margin-right: 15px; }

.status__request {
  color: #9F9D9D; }

.status__date {
  color: #9282B7; }

.status__add {
  border: none;
  margin: 0;
  padding: 0;
  width: 50px;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  margin-bottom: 70px;
  position: absolute;
  right: 20px; }
  .status__add-image {
    max-width: 100%;
    max-height: 100%; }

.status__add:focus {
  outline: 0; }

.current {
  color: #fff;
  border: 0; }

.pending {
  color: #C7C7C7; }

.accepted {
  color: #00C39D; }

.rejected {
  color: #ED4141; }
