@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
/* ===============================================
   Breakpoint
   =============================================== */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
/* ===============================================
   Breakpoint
   =============================================== */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
.login__container {
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 64em) {
    .login__container {
      flex-direction: row;
      height: 100vh; } }

@media (min-width: 64em) {
  .login__left-square {
    width: 40%;
    height: 100%;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: flex;
    align-items: center;
    justify-content: space-around; } }

@media (min-width: 64em) {
  .login__right-square {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; } }

.login__logo {
  width: 240px;
  height: 240px; }

.login__logo-wrapper {
  display: flex;
  justify-content: center; }
  @media (min-width: 64em) {
    .login__logo-wrapper {
      margin-bottom: 300px; } }

.login__logo-img {
  max-width: 100%;
  max-height: 100%; }

.login__input-container {
  display: flex;
  justify-content: center; }

.login__input {
  margin-bottom: 40px; }

.login__username, .login__password {
  padding-left: 20px;
  background-color: #F5F5F5; }

.login__username, .login__password, .login__submit {
  width: 270px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  color: #707070;
  font-size: 18px; }

.login__submit {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); }

.login__submit-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #fff; }

.login__error {
  font-family: 'PT Sans', sans-serif;
  color: #00A0A0; }

.login__error-wrapper {
  width: 250px; }

/* ===============================================
   Breakpoint
   =============================================== */
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
body {
  padding: 0;
  margin: 0; }

.home__container {
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 64em) {
    .home__container {
      flex-direction: row;
      height: 100vh; } }

@media (min-width: 64em) {
  .home__left-square {
    width: 40%;
    height: 100%;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: flex;
    flex-direction: column; } }

.home__right-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px; }
  @media (min-width: 64em) {
    .home__right-square {
      padding-left: 50px;
      padding-top: 17px; } }

@media (min-width: 64em) {
  .home__overview {
    width: 600px; } }

.home__overview-wrapper {
  display: flex; }

.home__overview-title-wrapper {
  width: 200px; }

.home__overview-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 200;
  color: #696969; }

.home__request-wrapper {
  margin-left: 40px; }

.home__date-wrapper {
  margin-top: 5px; }

.home__day, .home__month, .home__time, .home__request, .home__link-wrapper {
  font-family: 'PT Sans', sans-serif;
  color: #939090; }

.home__month, .home__request {
  font-weight: 400;
  color: #AFAFAF; }

.home__time, .home__request {
  font-size: 18px; }

.home__day, .home__time {
  font-weight: 800;
  margin-bottom: -15px; }

.home__day, .home__month {
  font-size: 16px; }

.home__logo {
  width: 240px;
  height: 240px; }
  @media (min-width: 64em) {
    .home__logo {
      width: 150px;
      height: 150px; } }

.home__logo-wrapper {
  display: flex;
  justify-content: center; }
  @media (min-width: 64em) {
    .home__logo-wrapper {
      justify-content: flex-start; } }

.home__title {
  font-family: 'PT sans', sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: #36B4B4; }
  @media (min-width: 64em) {
    .home__title {
      color: #fff;
      font-size: 40px; } }

.home__title-wrapper {
  display: flex;
  justify-content: center; }
  @media (min-width: 64em) {
    .home__title-wrapper {
      justify-content: flex-start;
      margin-left: 36px; } }

.home__logo-img {
  max-width: 100%;
  max-height: 100%; }

.home__link {
  color: #580086;
  font-size: 16px; }

.home__link-wrapper {
  margin-bottom: 50px; }

.home__icon {
  max-width: 100%;
  max-height: 100%; }

.home__icon-wrapper-one {
  width: 35px;
  height: 35px;
  margin-top: 5px; }

.home__icon-wrapper-two {
  width: 45px;
  height: 45px;
  margin-left: 20px; }

.home__icons-wrapper {
  display: flex; }

.home__line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 15px; }

@media (min-width: 64em) {
  .home__bottom {
    position: absolute;
    bottom: 20px;
    width: 580px;
    height: 60px; } }

/* ===============================================
   Breakpoint
   =============================================== */
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
.requests__container {
  width: 100%;
  height: auto;
  padding: 30px; }

.requests__top {
  display: flex;
  flex-direction: column; }

.requests__button {
  width: 150px;
  height: 35px;
  padding: 0;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center; }

.requests__button-text {
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #fff; }
