/* ===============================================
   Breakpoint
   =============================================== */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
/* ===============================================
   Typography settings
   =============================================== */
/* $typo: (
    // fonts
    'font': (
        'head': '"PT Sans", sans-serif',
    ),
    'weight': (
        'regular': 400,
        'bold': 700,
    ),
    'xsmall': (
        'xs' : 10px,
    ),
    'small': (
        'xs': 12px,
    ),
    'medium': (
        'xs': 14px,
    ),
    'large': (
        'xs': 16px,
    ),
); */
/* Undefined variable: "$typo".
        on line 45 of app/assets/styles/organisms/login.scss
        from line 7 of app/assets/styles/main.scss
>>         font-family: map-deep-get($typo, 'font', 'text'); */
.requests__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px; }

.requests__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px; }

.requests__button {
  width: 150px;
  height: 35px;
  border: 0.5px solid #EDE8E8;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #A7A7A7; }

.requests__date-picker {
  width: 150px;
  height: 35px;
  text-decoration: none;
  border: 0;
  background-color: #CBB4FF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #fff; }

.requests__reason {
  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #A7A7A7;
  margin: 0; }

.requests__reason-wrapper {
  margin-bottom: -40px; }

.requests__add {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  margin-left: -265px; }
  .requests__add-image {
    max-width: 100%;
    max-height: 100%; }

.requests__add-wrapper {
  width: 50px;
  height: 50px; }

.current {
  background-color: #00D1D1;
  color: white;
  border: 0; }

input[type=text], select {
  width: 300px;
  height: 30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0.5px solid #EDE8E8;
  border-radius: 4px;
  box-sizing: border-box; }
