// Variables

// Annoying that I have to import these over and over again in every scss file where I want to use them,
// Have to find out how to fix this.

@import
    '../variables/breakpoints',
    '../variables/colors',
    '../variables/typography'
    ;

body {
  padding: 0;
  margin: 0;
}

.home {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include breakpoint(laptop) {
            flex-direction: row;
            height: 100vh;
	      }
    }

    &__left-square {

        @include breakpoint(laptop) {
            width: 40%;
            height: 100%;
            background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
            display: flex;
            flex-direction: column;
	      }
    }

    &__right-square {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;


        @include breakpoint(laptop) {
            padding-top: 17px;
            width: 30%;

	      }
    }



    &__overview {
      @include breakpoint(laptop) {

      }
    }

    &__overview-wrapper {
        display: flex;
    }

    &__overview-title-wrapper {
        width: 200px;
    }

    &__overview-title {
        font-family: 'PT Sans', sans-serif;
        font-weight: 200;
        color: #696969;
    }

    &__request-wrapper {
        margin-left: 40px;
    }

    &__date-wrapper {
        margin-top: 5px;
    }

    &__day, &__month, &__time, &__request, &__link-wrapper {
        font-family: 'PT Sans', sans-serif;
        color: #939090;
    }

    &__month, &__request {
        font-weight: 400;
        color: #AFAFAF;
    }

    &__time, &__request {
        font-size: 18px;
    }

    &__day, &__time {
        font-weight: 800;
        margin-bottom: -15px;
    }

    &__day, &__month {
        font-size: 16px;
    }

    &__logo {
        width: 240px;
        height: 240px;

        display: block;

        @include breakpoint(laptop) {
            display: none;
        }
    }

    &__logo-white {
        display: none;

        @include breakpoint(laptop) {
            width: 70px;
            height: 70px;
            display: block;
            margin-left: 35px;
            margin-top: 50px;
        }
    }

    &__logo-wrapper {
        display: flex;
        justify-content: center;

        @include breakpoint(laptop) {
            justify-content: flex-start;
        }
    }

    &__title {
        font-family: 'PT sans', sans-serif;
        font-weight: 200;
        font-size: 30px;
        color: #36B4B4;

        @include breakpoint(laptop) {
            color: #fff;
            font-size: 40px;
        }


    }

    &__title-wrapper {
        display: flex;
        justify-content: center;

        @include breakpoint(laptop) {
            justify-content: flex-start;
            margin-left: 36px;
        }
    }

    &__logo-img {
        max-width:100%;
        max-height:100%;
    }

    &__logo-white-img {
        max-width:100%;
        max-height:100%;
    }

    &__link {
        color: #580086;
        font-size: 16px;
    }

    &__link-wrapper {
        margin-bottom: 50px;
    }

    &__icon {
        max-width: 100%;
        max-height: 100%;
    }

    &__icon-wrapper-one {
        width: 35px;
        height: 35px;
        margin-top: 5px;
    }

    &__icon-wrapper-two {
        width: 45px;
        height: 45px;
        margin-left: 20px;
    }

    &__icons-wrapper {
        display: flex;
    }

    &__line {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin-bottom: 15px;
    }

    &__bottom {
      @include breakpoint(laptop) {
        position:absolute;
        bottom: 20px;
        width: 580px;
        height:60px;
      }
    }

}
