// Variables

// Annoying that I have to import these over and over again in every scss file where I want to use them,
// Have to find out how to fix this.

@import
    '../variables/breakpoints',
    '../variables/colors',
    '../variables/typography'
    ;

.home {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include breakpoint(laptop) {
            flex-direction: row;
            height: 100vh;
	      }
    }

    &__left-square {

        @include breakpoint(laptop) {
            width: 40%;
            height: 100%;
            background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
            display: flex;
            align-items: center;
            justify-content: space-around;
	      }
    }

    &__right-square {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
    }

    &__link-wrapper, &__icons-wrapper, &__overview-wrapper, &__overview-title-wrapper {
        margin-left: -50px;
    }

    &__overview {

    }

    &__overview-wrapper {
        display: flex;
    }

    &__overview-title-wrapper {
        width: 200px;
    }

    &__overview-title {
        font-family: 'PT Sans', sans-serif;
        font-weight: 200;
        color: #696969;
    }

    &__request-wrapper {
        margin-left: 40px;
    }

    &__day, &__month, &__time, &__request, &__link-wrapper {
        font-family: 'PT Sans', sans-serif;
        color: #939090;
    }

    &__month, &__request {
        font-weight: 400;
        color: #AFAFAF;
    }

    &__time, &__request {
        font-size: 18px;
    }

    &__day, &__time {
        font-weight: 800;
        margin-bottom: -15px;
    }

    &__day, &__month {
        font-size: 16px;
    }

    &__logo {
        width: 240px;
        height: 240px;
    }

    &__logo-wrapper {
        display: flex;
        justify-content: center;
        background-color: yellow;

        @include breakpoint(laptop) {
            margin-bottom: 300px;
        }

    }

    &__title {
        font-family: 'PT sans', sans-serif;
        font-weight: 200;
        font-size: 30px;
        color: #36B4B4;
    }

    &__title-wrapper {
        display: flex;
        justify-content: center;
    }

    &__logo-img {
        max-width:100%;
        max-height:100%;
    }

}
