// Variables

// Annoying that I have to import these over and over again in every scss file where I want to use them,
// Have to find out how to fix this.

@import
    '../variables/breakpoints',
    '../variables/colors',
    '../variables/typography'
    ;

.login {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include breakpoint(laptop) {
            flex-direction: row;
            height: 100vh;
	      }
    }

    &__left-square {
        @include breakpoint(laptop) {
            width: 40%;
            height: 100%;
            background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
            display: flex;
            align-items: center;
            justify-content: space-around;
	      }
    }

    &__right-square {
      @include breakpoint(laptop) {
          width: 60%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
      }
    }

    &__logo {
        width: 240px;
        height: 240px;
        display: block;

        @include breakpoint(laptop) {
            display: none;
        }
    }

    &__logo-white {
        width: 150px;
        height: 150px;
        display: none;

        @include breakpoint(laptop) {
            display: block;
        }
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include breakpoint(laptop) {

        }

    }

    &__logo-title {
        font-family: 'PT sans', sans-serif;
        font-weight: 400;
        margin-top: -20px;
        margin-bottom: 60px;
        color: #149A80;

        @include breakpoint(laptop) {
            color: #fff;
            margin-top: 35px;
            font-size: 40px;
        }
    }

    &__logo-img {
        max-width:100%;
        max-height:100%;
    }

    &__logo-white-img {
        max-width:100%;
        max-height:100%;

    }

    // form

    &__input-container {
        display: flex;
        justify-content: center;

        @include breakpoint(laptop) {

	      }
    }

    &__input {
        margin-bottom: 40px;
    }

    &__username, &__password {
        padding-left: 20px;
        background-color: #F5F5F5;

    }

    &__username, &__password, &__submit {
        width: 270px;
        height: 50px;
        border: none;
        border-radius: 10px;
        font-family: 'PT Sans', sans-serif;
        color: #707070;
        font-size: 18px;

    }

    &__submit {
        background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
        width: 300px;
        margin-top: 20px;

    }

    &__submit-title {
        font-family: 'PT Sans', sans-serif;
        font-size: 18px;
        font-weight: 200;
        color: #fff;
    }

    &__error {
        font-family: 'PT Sans', sans-serif;
        color: #00A0A0;
    }

    &__error-wrapper {
        width: 250px;
    }

}

.recaptcha {
    input[type="text"] {
      width: 300px;
    }

    &__link {
      font-family: 'PT Sans', sans-serif;
      font-size: 12px;
      color: #000;
    }
}
