// Variables

// Annoying that I have to import these over and over again in every scss file where I want to use them,
// Have to find out how to fix this.

@import
    '../variables/breakpoints',
    '../variables/colors',
    '../variables/typography'
    ;

.login {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__logo {
        width: 200px;
        height: 200px;
        @include breakpoint(laptop) {
            background-color: yellow;
	      }
    }

    &__logo-wrapper {
        display: flex;
        justify-content: center;
    }

    &__logo-img {
        max-width:100%;
        max-height:100%;
    }

    // form

    &__input-container {
        display: flex;
        justify-content: center;
    }

    &__input {
        margin-bottom: 40px;
    }

    &__username, &__password {
        padding-left: 20px;
        background-color: #F5F5F5;

    }

    &__username, &__password, &__submit {
        width: 270px;
        height: 50px;
        border: none;
        border-radius: 10px;
        font-family: 'PT Sans', sans-serif;
        color: #707070;
        font-size: 18px;

    }

    &__submit {
        background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    }

    &__submit-title {
        font-family: 'PT Sans', sans-serif;
        font-size: 18px;
        font-weight: 200;
        color: #fff;
    }

    &__error {
        font-family: 'PT Sans', sans-serif;
        color: #00A0A0;
    }

}
