@import
    '../variables/breakpoints',
    '../variables/colors',
    '../variables/typography'
    ;


.overview {
    &__container {
          width: 100%;
          background-color: #fff;
          height: 100px;
          padding-left: 50px;
          padding-right: 50px;
          padding-bottom: 50px;

          @include breakpoint(laptop) {
            padding-bottom: 40px;

          }




    }

    &__name, &__request, &__date {
        font-family: 'PT sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    &__name {
        color: #C1B8D6;
    }

    &__request, &__date{
        color: #727272;

    }

    &__title {
        text-align: center;
        font-family: 'PT sans', sans-serif;
        font-weight: 400;
        font-size: 30px;
        color: #C1B8D6;
    }

    &__edit-button {
      position: absolute;
      right: 85px;
      top: 55px;

      @include breakpoint(laptop) {
          margin-bottom: 110px;
      }
    }

    &__edit {
          background-image: url('../../assets/images/edit.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 50px 50px;
          border: none;
          text-decoration: none;
          cursor: pointer;
          width: 50px;
          height: 50px;
          display: block;
          background-color: #fff;
    }

    &__wrapper {
        position: relative;
        padding-bottom: 50px;
    }

    &__verified_edit {
          background-image: url('../../assets/images/verified.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 50px 50px;
          border: none;
          text-decoration: none;
          cursor: pointer;
          width: 50px;
          height: 50px;
          display: none;
    }


}
