@import
    '../variables/breakpoints',
    '../variables/colors',
    '../variables/typography'
    ;


.requests {
    &__container {
        width: 100%;
        height: auto;
        padding: 30px;
    }
    &__top {
        display: flex;
        flex-direction: column;
    }

    &__button {
        width: 150px;
        height: 35px;
        padding: 0;
        border: 0.5px solid #D6D5D5;

        border-radius: 5px;
        display: flex;
        justify-content: center;

        font-family: 'PT sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-top: 10px;
        color: #A7A7A7;
    }

    &__button:active, &__button:focus {
        background-color: #00D1D1;
        color: white;
        outline:none;
    }
}

.aanvraag {

}

.status {

}
