@import
    '../variables/breakpoints',
    '../variables/colors',
    '../variables/typography'
    ;


.requests {
    &__container {
        width: 100%;
        height: auto;
        padding: 30px;
    }
    &__top {
        display: flex;
        flex-direction: column;
    }

    &__button {
        width: 150px;
        height: 35px;
        padding: 0;
        border: none;

        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    &__button-text {
      font-family: 'PT sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      margin-top: 10px;
      color: #fff;
    }
}

.aanvraag {

}

.status {

}
