@import
    '../variables/breakpoints',
    '../variables/colors',
    '../variables/typography'
    ;

.uitloggen {

  width: 150px;
  height: 35px;
  border: 0.5px solid #B4A5D8;
  text-decoration: none;

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #B4A5D8;

  @include breakpoint(laptop) {
      width: 120px;
      height: 45px;
      font-size: 16px;
      position: absolute;
      top: 20px;
      right: -350px;
  }

    &__title {

    }
}

.requests-uitloggen {

  width: 150px;
  height: 35px;
  text-decoration: none;

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #B4A5D8;

  position: absolute;

  @include breakpoint(laptop) {
      width: 120px;
      height: 45px;
      font-size: 16px;
      position: absolute;
      right: 100px;
      border: 0.5px solid #B4A5D8;
  }

    &__title {

    }
}

.status-uitloggen {

  width: 150px;
  text-decoration: none;

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #B4A5D8;


  @include breakpoint(laptop) {
      width: 120px;
      height: 45px;
      font-size: 16px;
      position: absolute;
      right: 100px;
      border: 0.5px solid #B4A5D8;
  }

    &__title {

    }
}

.admin-requests-uitloggen {

  width: 150px;
  text-decoration: none;

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #B4A5D8;


  @include breakpoint(laptop) {
      width: 120px;
      height: 45px;
      font-size: 16px;
      position: absolute;
      right: 100px;
      border: 0.5px solid #B4A5D8;
      margin-top: 30px;
  }

    &__title {

    }
}

.history-uitloggen {

  width: 150px;
  text-decoration: none;

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'PT sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #B4A5D8;


  @include breakpoint(laptop) {
      width: 120px;
      height: 45px;
      font-size: 16px;
      position: absolute;
      right: 100px;
      top: 52px;
      border: 0.5px solid #B4A5D8;
      margin: 0;
  }

    &__title {

    }
}
